DATABASE_URL="postgresql://user:password@localhost:5432/mercury_medet"
JWT_SECRET="your-super-secret-jwt-key-change-this"
JWT_EXPIRES_IN="7d"
PORT=4000

GREEN_API_URL="https://7107.api.greenapi.com"
GREEN_API_ID_INSTANCE="7107572640"
GREEN_API_TOKEN_INSTANCE="c1a6f75c1bcc436281b4c46a2d92bdf4540b6283b1a74cb695"

FRONTEND_URL="http://localhost:5173"
